.container{
    margin-bottom: 100px;
}
.bg-color{
    background-color: #fceae8;
    border-radius: 1em;
}
.carousel-item{
    padding: 20px 60px;
}
.cat1,.cat2,.cat3{
    color:white;
    border-radius: 2em;
    padding: 0 20px;

}
.cat1{
    background-color: orange
}
.cat2{
    background-color: orangered;
}
.cat3{
    background-color: blueviolet;
}
.catagories img{
    width: 130px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.card{
    border: none;
    box-shadow: 2px 2px 4px lightgray;
}
.subscribe{
    height: 300px;
}